<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TypeServiceSoapBinding" />
                <binding name="CompositionServiceSoapBinding" />
                <binding name="ManufactureServiceSoapBinding" />
                <binding name="MaterialServiceSoapBinding" />
                <binding name="SocksServiceSoapBinding" />
                <binding name="StatisticServiceSoapBinding" />
                <binding name="StorageServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/socks-web/soap/type"
                binding="basicHttpBinding" bindingConfiguration="TypeServiceSoapBinding"
                contract="TypeRef.TypeService" name="DbTypeServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/composition"
                binding="basicHttpBinding" bindingConfiguration="CompositionServiceSoapBinding"
                contract="CompositionRef.CompositionService" name="DbCompositionServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/manufacture"
                binding="basicHttpBinding" bindingConfiguration="ManufactureServiceSoapBinding"
                contract="ManufactureRef.ManufactureService" name="DbManufactureServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/material"
                binding="basicHttpBinding" bindingConfiguration="MaterialServiceSoapBinding"
                contract="MaterialRef.MaterialService" name="DbMaterialServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/socks"
                binding="basicHttpBinding" bindingConfiguration="SocksServiceSoapBinding"
                contract="SocksRef.SocksService" name="DbSocksServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/statistic"
                binding="basicHttpBinding" bindingConfiguration="StatisticServiceSoapBinding"
                contract="StatisticRef.StatisticService" name="DbStatisticServicePort" />
            <endpoint address="http://localhost:8080/socks-web/soap/storage"
                binding="basicHttpBinding" bindingConfiguration="StorageServiceSoapBinding"
                contract="StorageRef.StorageService" name="DbStorageServicePort" />
        </client>
    </system.serviceModel>
</configuration>
